header {
    padding: 20px;
    border-bottom: 1px solid #aaa; 
}
main {
    display: grid;
    grid-template: 'basic scripts'
                    'devices devices'
                    /50% 50%;
}

.basic_wrapper {
    grid-area: basic;
    background: ;
}

.script_wrapper {
    grid-area: scripts
}

.device_wrapper {
    grid-area: devices;
}

