html,
body {
    height: 100%;
    font-family: 'Aral', sans-serif;
}

.grid-wrapper {
    height: 99%;
    display: grid;
    grid-template: 'header' 90px 'main' 1fr 'footer' 60px / 100%;
}

.heading {
    color: #333;
    font-size: 18px;
    font-weight: 600px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
}

.element_card {
    height: 120px;
    width: 200px;
    border-radius: 20px;
    background: #F7F7F7;
    display: inline-block;
    margin: 0 20px 20px 0;
}

header {
    padding: 25px 40px;
    border-bottom: 1px solid #aaa;
    height: 90px;
    grid-area: header;
    box-sizing: border-box;
    vertical-align: top;
}

.logo,
nav {
    display: inline-block;
}

.logo {
    margin: 0px 40px 0 0;
    height: 35px;
    width: 108px;
    background: url('../img/Yandex_dom@1x.png') no-repeat bottom;
}

nav {
}

.nav_link {
    display: inline-block;
    height: 30px;
    padding: 0px 10px;
    opacity: 0.6;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}

.nav_link_active {
    opacity: 1;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 'basic scripts' 1fr 'devices devices' 187px /50% 50%;

}

.basic_wrapper {
    grid-area: basic;
    background: #eee;
    padding: 20px 20px 20px 40px;
    position: relative;
}

.basic {
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    bottom: 20px;
    height: calc(100% - 90px);
    width: 92%;
    overflow: hidden;
}

.nearest_scripts {
    width: 250px;
    float: right;
    position: absolute;
    right: 20px;
    height: 100%;
    top: 0;
    padding-top: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -50px;
    padding-right: 50px;
}

.script_wrapper {
    position: relative;
    grid-area: scripts;
    background: #ddd;
    padding: 20px 0 0 10px;
    box-sizing: border-box;
/*    overflow-y: hidden;*/
}

.script_list {
    display: block;
    height: 360px;
    position: relative;
}

.script_list_page_wrapper {
    height: 100%;
    width:100%;
    position: absolute;
    overflow: hidden;
}

.script_list_page {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    margin-left: 0;
    transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.script_list_page:first-child {
    left: 0;
}


/*  слайдер сценариев  */

.script_list > input,
.script_list > input + label,
.script_list > input + label + label {
    display: none;
}

.script_list > input:checked + label,
.script_list > input:checked + label + label {
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0.4;
    transition: opacity 0.8s ease-out 0s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.script_list > input:checked + label:hover,
.script_list > input:checked + label + label:hover {
    opacity: 0.6;
}

.script_list > input:checked + label {
    left: 0px;
    background: url('https://lh3.googleusercontent.com/-tacAA4lVYgc/VeVDqFrDRRI/AAAAAAAAAT4/RBongekAUqI/s800-Ic42/prev.png')
}

.script_list > input:checked + label + label {
    right: 0px;
    background: url('https://lh3.googleusercontent.com/-gy6RMZnCdAc/VeVDqJF1S5I/AAAAAAAAAT0/D4nN8T9RGro/s800-Ic42/next.png')
}

.script_list > input:nth-of-type(2):checked ~ .script_list_page_wrapper > .script_list_page {
    left: 0;
}

.script_list > input:nth-of-type(2):checked ~ .script_list_page_wrapper > .script_list_page:first-child {
    left: -100%;
}

/*  -----------------  */

.script_element {
    height: 100px;
}

.device_wrapper {
    grid-area: devices;
    background: #ccc;
    padding: 0px 0 0px 0px;
    overflow-y: hidden;
}

.device_heading {
    display: inline-block;
    margin: 12px 0 30px 40px;
}

.device_filter_list,
.device_filter_element {
    display: inline-block;
}

.device_filter_element {
    font-size: 14px;
    padding: 8px 15px;
    background: #f7f7f7;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.device_filter_element_active {
    background: #FFD93E;
}

.device_list {
    overflow-x: auto;
    height: 140px;
    white-space: nowrap;
}

.device_element {
    margin-bottom: 0;
}

.device_element:first-child {
    margin-left: 40px;
}

footer {
    grid-area: footer;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.footer_links {
    position: absolute;
    left: 40px;
}

.footer_copy {
    position: absolute;
    right: 40px;
}

.footer_copy,
.footer_links {
    top: 50%;
    font-size: 12px;
}
